[Unit]
Description = Adjust windows based on a matching state

[Service]
ExecStart = /home/jayd/local/bin/auto-win.py -D -w 1

[Install]
WantedBy = default.target
